{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/x-icon" sizes="16x16" href="{% static 'images/small-favicon.png' %}">
  <link rel="icon" type="image/x-icon" sizes="32x32" href="{% static 'images/large-favicon.png' %}">
  <link rel="stylesheet" href="{% static 'main.min.css' %}">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-gray-50">
  {% block content %}
  {% endblock content %}

  
</body>
</html>